ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2cbbc;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }

  .row {
    display: flex;
  }

  .form{
    text-align: center;
    align-items: center;
  }
  .submit{
   align-items: center;
   text-align: center;
   margin-top: 25px;
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: #e3e3e3;
  }
  
  .column {
    flex: 50%;
  }
  .pt{
      padding-top: 20px;
  }

  .button {
    background-color: #7aa897;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .pl{
    padding-left: 20px;
   }

   .pr{
    padding-right: 20px;
   }
   
   .pb{
    padding-bottom: 20px;
   }
  
  .field{
      font-weight: bold;
  }

  .text-underline {
    text-decoration: underline;
  }